{{!  Creamos nuestro formulario de chat }}
<form id="form-chat">
  <h3>CHAT-MESSAGE</h3>
  <input
    id="input-email"
    type="text"
    placeholder="Email Address: juan@coderhouse.com"
    required
  />
  <input
    id="input-text"
    type="text"
    placeholder="Write your messages"
    required
  />
  <button type="submit">SEND</button>
  <hr />
  <div id="chat" class="div-chat"></div>
  <hr />
</form>