* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

form {
  width: 500px;
  background-color: darkslategray;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
}

form h2 {
  padding-bottom: 2rem;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}

form > input {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

form > button {
  font-size: 1rem;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
}

form > button:hover {
  background-color: rgb(22, 233, 15);
}

form > label {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}

::placeholder {
  text-align: center;
}

.btnProduct {
  display: flex;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  background-color: rgb(171, 229, 240);
}

.btnProduct > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* mainHBS */
table {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 1.5rem;
  width: 50%;
  text-align: center;
}

td,
th,
tr {
  padding: 1rem;
}

tr,
th {
  border: 2px solid black;
}

th {
  font-size: 2rem;
  background-color: rgba(204, 201, 201, 0.678);
}

img {
  max-width: 4rem;
}

.btnVolver {
  display: flex;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  background-color: bisque;
}

.btnVolver a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}

h3 {
  text-align: center;
  padding: 2rem;
  color: red;
  font-weight: bold;
}

.backProct {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.backProct > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  border: 3px solid rgb(24, 24, 24);
  background-color: rgb(233, 232, 156);
  padding: 0.5rem;
}
